@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body{
    margin: 0;
    padding: 0;
}

.contain{
    background-color: #f3f3f3;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30% 70%;
    grid-column-gap: 10%;
    grid-row-gap: 0px; 
    position: relative;
}

.title{
    text-align: center;
    font-size: 6.25rem;
    font-family: 'Lato';
    grid-area: 1 / 1 / 2 / 3;
    font-weight: 300;
}

@keyframes spin {
    100%{transform: rotate(360deg);}
    }
    
    
@keyframes spin2 {
    100%{transform: rotate(-360deg);}
    }


.roue{
    grid-area: 2 / 1 / 3 / 2;
    position: absolute;
}

#une{
    width: 50%;
    animation: spin 10s linear infinite;
}
#deux{
    width: 40%;
    top: 30%;
    left: 25%;
    animation: spin2 10s linear infinite;
}
#trois{
    left: 30%;
    width: 31.25rem;
    animation: spin 10s linear infinite;
    
}

form{
    grid-area: 2 / 2 / 3 / 3;
}

.right{
    font-family: 'Lato';
    font-size: 3rem;
    font-weight: 400;
    margin-top: 5%;
}

#name{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 3rem;    
    box-sizing: border-box;
    border-radius: .625rem;
    border: none;
    margin-bottom: 3%;
}

#pass{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 3rem;    
    box-sizing: border-box;
    border-radius: .625rem;
    border: none;
}

.btn{
    grid-area: 2 / 2 / 3 / 3;    
}

.btn input{
    width: 50%; 
    height: 3rem;
    background-color: #fff;
    border-radius: .625rem;
    border: none;
    box-shadow: 10px 5px 5px #DCDCDC;
    cursor: pointer;
    font-size: 1.5625rem;
    margin: 10% 0;
}

.btn input:hover{
    background-color: #000;
    color: #fff;
}

@media screen and (max-width: 1700px){
    #deux{
        top: 25%;
        left: 23%;
    }

    #trois{
        left: 27%;
    }
}

@media screen and (max-width: 1430px){
    #deux{
        top: 22%;
    }

    #trois{
        left: 20%;
    }
}

@media screen and (max-width: 1200px){
    #deux{
        top: 20%;
    }

    #trois{
        left: 15%;
    }
}

@media screen and (max-width: 1100px){
    #deux{
        top: 18%;
    }

    #trois{
        left: 11%;
    }
}

@media screen and (max-width: 1000px){
    .contain{
        grid-template-columns: 1fr;
        grid-column-gap: 0%;
        grid-row-gap: 0%;
    }
    
    form>div{    
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    
    
    
    #name, #pass{
        width:unset;
    }
    
    .title{
        font-size: 5rem;
    }
    
    form{
        grid-area: 2 / 1 / 3 / 3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .right{
        font-family: 'Lato';
        font-size: 2rem;
        font-weight: 400;
        margin-top: 0;
    
    }
    
    .btn input{
        font-size: 1.25rem;
        margin: 20% auto;
    }
    
    .roue{
        grid-area: 2/1/3/4;
        position: absolute;
    }
    #une{
        width: 15%;
        animation: spin 10s linear infinite;
        bottom: 30%;
        left: 40%;
    }
    #deux{
        position: absolute;
        width: 10%;
        top: 55%;
        left: 50%;
        animation: spin2 10s linear infinite;
    }
    #trois{
        position: absolute;
        width: 20%;
        top: 47%;
        left: 50%;
      
        animation: spin 10s linear infinite;
        
    }
    }

    @media screen and (max-width: 670px){
        #une{
            bottom: 30%;
        }
        #deux{
            top: 55%;
        }
        #trois{
            top: 50%;   
        }
    }

    @media screen and (max-width: 580px){
        #une{
            bottom: 20%;
        }
        #deux{
            top: 75%;
        }
        #trois{
            top: 70%;   
        }
    }