@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body{
    margin: 0;
    padding: 0;
}

.contain{
    background-color: #f3f3f3;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30% 70%;
    grid-column-gap: 10%;
    grid-row-gap: 0px; 
    position: relative;
}

.title{
    text-align: center;
    font-size: 6.25rem;
    font-family: 'Lato';
    grid-area: 1 / 1 / 2 / 3;
    font-weight: 300;
}

@keyframes spin {
    100%{transform: rotate(360deg);}
    }
    
    
    @keyframes spin2 {
    100%{transform: rotate(-360deg);}
    }

.roue{
    grid-area: 2 / 1 / 3 / 2;
    position: absolute;
}

#une{
    position: absolute;
    width: 50%;
    animation: spin 10s linear infinite;
}
#deux{
    position: absolute;
    width: 40%;
    top: 30%;
    left: 25%;
    animation: spin2 10s linear infinite;
}

#trois{
    position: absolute;
    left: 30%;
    animation: spin 10s linear infinite;
}

form{
    grid-area: 2 / 2 / 3 / 3;
}

label{
    display: block;
    margin: 3% 0;
}

.right{
    font-family: 'Lato';
    font-size: 3rem;
    font-weight: 400;
    margin-top: 10%;
}

#name{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 3rem;    
    box-sizing: border-box;
    border-radius: .625rem;
    border: none;
}

#pass{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 3rem;    
    box-sizing: border-box;
    border-radius: .625rem;
    border: none;
}

.btn{
    grid-area: 2 / 2 / 3 / 3;    
}

.btn input{
    padding: 2% 15%; 
    background-color: #fff;
    border-radius: .625rem;
    border: none;
    box-shadow: 10px 5px 5px #DCDCDC;
    margin: 10% 0;
    cursor: pointer;
}

.btn input:hover{
    background-color: #000;
    color: #fff;
}